# See https://help.github.com/ignore-files/ for more about ignoring files.
/jovo
/public/thecode.mp4
config.js
src/youTubeApiKey.js
/music
/namecheap_dyndns
/docker-run
/package-lock.json
/src/config.js
/docker-compose.yml
/config.js
# dependencies
/node_modules
/import
# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
